@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

html,
body {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0.5vw;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: 2px solid #1ea5fe;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1ea5fe;
  border: none;
}
